<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>
  <body>
    <h1><%= bookData[0].title %></h1>
    <h2>
      <%= bookData[0].author_id %> | <%= bookData[0].category %> | <%=
      bookData[0].year %>
    </h2>
    <p><%= bookData[0].edition %> | <%= bookData[0].publisher %></p>
  </body>
</html>
